-e .

# General test libraries
pytest==5.3.5
pytest-django==3.8.0
responses

# Pep8 and code quality checkers
flake8==3.7.9
pytest-cov==2.8.1
coverage==5.0.3

# General dependencies
django==3.0.3
requests==2.23.0
lxml==4.5.0
werkzeug
psycopg2

# For async worker support
celery==4.4.0

# For our REST Api
djangorestframework==3.11.2

# Redis
redis==3.4.1

# Utilities
django-environ==0.4.5
more-itertools
